.card-item {
  position: relative;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;

  & > img {
    margin: 2rem;
    vertical-align: middle;
    transition: all 0.45s ease 0s;
    object-fit: cover;

    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1.1);
    }
  }
}

.large-image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.medium-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.small-image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
