.popup-update-student-profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  
  outline: none;
  border: none;
  background-color: transparent;

  &__icon {
    font-size: 1.5rem;
    color: var(--success);
    margin: 0 0 0 0.5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: all 0.2s ease-out;
    }
  
    &:active {
      transform: scale(1);
    }
  }
}