.label {
  font-size: 1rem;
  font-weight: 500;

  &:last-child {
    color: var(--success);
  }
}

.input-field {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: .5rem;
  border-color: #fff;

  &:disabled {
    background-color: #fff;
  }

  &::placeholder {
    color: rgb(190, 189, 189);
  }
}
