.label {
  font-size: 1rem;
  font-weight: 500;
  color: darkgrey;

  &:last-child {
    color: var(--success);
  }
}

.input-field {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  border-color: #fff;

  &:disabled {
    background-color: #fff;
  }

  &::placeholder {
    color: rgb(190, 189, 189);
  }
}

.un-display-input {
  display: none;
}

.tax-code {
  color: var(--success);
}
