.label {
  font-size: 1rem;
  font-weight: 500;

  &:last-child {
    color: var(--success);
  }
}

.input-field {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: .5rem;
  border-color: #fff;

  &:disabled {
    background-color: #fff;
  }

  &::placeholder {
    color: rgb(190, 189, 189);
  }

  // &:focus {
  //   border-color: var(--success);
  // }
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

.width-100 {
  width: 100%;
}