.student-resume-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 2rem 0;
  position: relative;

  &__header {
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 2px solid lightgrey;

    & > span {
      font-weight: 600;
    }

    &__icon {
      color: var(--success);
      margin-left: 0.5rem;
      cursor: pointer;

      &:hover {
        transition: all 0.15s ease-out;
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__main {
    display: flex;
    // flex-flow: row wrap;
    flex-direction: column;
    position: relative;
    width: 100%;

    margin-top: 2rem;

    &__skeleton-area {
      display: flex;
      width: 100%;
    }

    &__items {
      display: flex;
      flex-flow: row wrap;
      position: relative;

      width: 100%;

      &__item {
        margin: 0 1.5rem 2rem 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__upload {
        display: flex;
        justify-content: center;
        align-items: center;

        // margin-left: 1rem;
        width: 10rem;
        height: calc(10rem * 29.7 / 21);
        border: 2px dashed var(--success);
        cursor: pointer;

        &:hover {
          transition: all 0.15s ease-out;
          background-color: lightgrey;
        }

        &:active {
          background-color: #fff;
        }

        &__icon {
          font-size: 3rem;
          color: var(--success);
        }
      }
    }

    &__paginator {
      margin-top: 2rem;
    }
  }
}
