.first-update-profile {
  display: flex;
  justify-content: center;
  min-height: 85vh;
  padding: 2rem 2rem;
  width: 100%;

  // background-image: url("../../../../assets/img/background.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-color: #ACE1AF;
  // background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    &__information {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: center;
      width: 35%;
      height: auto;

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: transparent;

        & > img {
          display: flex;
          width: 100%;
          border-radius: 50%;
          background-color: lightblue;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65%;
      height: 100%;

      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #fff;

        position: relative;
        
        &__container {
          display: flex;
          justify-content: space-between;
          width: 53%;
          position: absolute;

          &__dot {
            margin-top: -2.5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: var(--success);
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          }
        }

        &__form-title {
          display: flex;
          justify-content: center;

          width: 100%;
          margin: 0 0 1rem 0;

          & > label {
            font-size: 1.5rem;
            font-weight: 600;
            // color: var(--success);
          }

          &__icon {
            display: flex;
            align-items: flex-end;
            height: 100%;
            font-size: 0.4rem;
            margin: 0 0 0 0.1rem;
            color: var(--success);
          }
        }

        & > form {
          width: 100%;
        }
      }
    }
  }
}
