.student-certificates-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid lightgrey;

    &__title {
      font-size: 1.4rem;
      font-weight: 600;
    }

    &__icon {
      font-size: 1.4rem;
      color: var(--success);
      margin: 0 0 0 0.5rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
        transition: all 0.15s ease-out;
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0 0;

    &__item {
      width: 100%;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}

.student-certificates-item-card {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__main {
    display: flex;
    padding: 0 5rem 0 0;

    &__icon {
      &__item {
        color: var(--success);
        font-size: 2rem;
        margin-right: 0.5rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      margin: 0rem 0 0 0;

      line-height: 1.7rem;

      &__title {
        font-size: 1rem;

        &__link {
          color: var(--success);
          font-weight: 600;
        }
      }

      & > span {
        font-weight: 600;
      }
    }
  }

  &__more {
    display: flex;
    align-self: flex-start;
    font-size: 2rem;
    color: darkgrey;
    cursor: pointer;
    border-radius: 50%;

    padding: 0.2rem;

    &:hover {
      transition: all 0.15s ease-out;
      color: var(--success);
      background-color: lightgrey;
    }

    &:active {
      background-color: #fff;
    }
  }
}
