.sidebar {
  &__nav {
    background: #15171c;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -250px;
    transition: 350ms;
    z-index: 999;

    &--active {
      left: 0;
    }
  }

  &__wrap {
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 0px;

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      & > span {
        font-family: "Slackey", "cursive";
        font-size: 3.35rem;
        font-weight: bold;
        color: var(--success);
      }
      // margin-bottom: 5rem;
    }
  }

  &__icon {
    margin-right: -2rem;
    font-size: 2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15171c;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0.5;
  }
}
