.noti-card-container {
  display: flex;
  justify-content: center;
  cursor: pointer;

  width: 100%;
  // min-height: 10rem;
  max-height: 12rem;
  border-radius: 0.3rem;
  padding: 0.5rem;

  position: relative;
  // background-color: red;

  .notification-link {
    text-decoration: none;
    color: black;
    height: auto;
  }

  &__dot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100%;
    position: relative;

    & > span {
      background-color: var(--success);
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      margin: 0 0 0 .3rem;
    }
  }

  &__more-options {
    display: none;
    // justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);

    top: calc(100% / 2 - 20px);
    right: 2rem;
    z-index: 4;
    border-radius: 50%;
    overflow: hidden;

    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #fff;
    transition: all 0.1s ease-out;

    &__action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;

      &__icon {
        font-size: 2.5rem;
        padding: 0.4rem;
      }
    }

    &:active {
      background-color: lightgray;
    }
  }

  &__mark-read {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    position: absolute;
    z-index: 2;

    top: calc(100% / 2 + 25px);
    right: 0.5rem;
    width: 95%;
    // min-height: 5rem;

    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &__item {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.2rem 0.5rem;

      &:hover {
        background-color: lightgray;
        transition: all 0.1s ease-out;
      }

      &:active {
        background-color: #fff;
      }

      & > span {
        margin-left: 1rem;
      }
    }
  }

  &:last-child > &__mark-read {
    top: calc(100% / 2 - 70px);
  }

  // &:last-child {
  //   margin-top: 1.5rem;
  // }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-out;
  }

  &:hover > &__more-options {
    display: block;
  }

  &__more-options:active,
  &__more-options:focus {
    display: block;
  }
}

.notification-content {
  display: flex;
  width: 100%;

  &__img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: 22%;
    position: relative;

    & > img {
      background-color: #fff;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 1px solid lightgrey;
      object-fit: cover;
    }

    &__type-icon {
      display: flex;

      position: absolute;
      top: 2.6rem;
      right: 0.1rem;
      z-index: 1;

      &__icon {
        font-size: 1.8rem;
        padding: 0.3rem;
        background-color: var(--success);
        // background:linear-gradient(120deg, #1db954, #191414);
        color: #fff;

        border-radius: 50%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0.5rem;
    width: calc(100% - 0.5rem - 22%);
    font-size: 0.9rem;
    position: relative;

    &__text {
      width: 100%;
      // background-color: red;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;

      &__name {
        font-weight: 600;
        margin: 0 .3rem 0 0;

        &__icon {
          color: var(--success);
          width: .8rem;
          height: .8rem;
          border-radius: 50%;
          margin: 0 0 .1rem .2rem;
          background-color: #fff;
        }
      }

      &__job-title {
        font-weight: 600;
        // margin: 0 0 0 .3rem;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      width: 100%;

      margin: 0.5rem auto;

      & > button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0.8rem;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:first-child {
          margin: 0 0.5rem 0 0;
        }
      }
    }

    &__date {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--success);
      margin: 0.2rem 0;
    }
  }
}

// .read-notification-success {
//   // font-weight: 300;
//   color: rgba(0, 0, 0, 0.6);

//   &__actions {
//     display: none;
//   }

//   &__date {
//     color: rgba(0, 0, 0, 0.6);
//     font-weight: 400;
//   }
// }
