.noti-card-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0.1rem 0;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.5rem;

  &:hover {
    background-color: lightgrey;
    transition: all 0.2s ease-out;
  }

  .notification-link {
    text-decoration: none;
    color: black;
  }
}

.notification-content {
  display: flex;
  width: 100%;

  // &:hover > &__img > img {
  //   border: 1px solid var(--success);
  // }

  &__img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: 22%;

    & > img {
      background-color: #fff;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 1px solid lightgrey;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0.5rem;
    font-size: 0.9rem;

    &__text {
      & > span {
        font-weight: 600;
      }
    }

    &__date {
      font-size: 0.7rem;
      font-weight: 600;
      color: blue;
      margin: -0.5rem 0 0.5rem 0;
    }
  }
}
