.list-candidates {
  display: flex;
  justify-content: center;

  width: 100%;
  // min-height: 50vh;

  &__container {
    display: flex;
    justify-content: space-between;

    width: 100%;

    &__left {
      display: flex;
      flex-direction: column;

      width: 23%;
    }

    &__right {
      display: flex;
      justify-content: center;
      align-self: flex-start;

      width: calc(100% - 2rem - 23%);

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 1rem;
      padding: 2rem 0rem;
      // min-height: 85vh;
    }

    &__intro {
      display: flex;
      justify-content: center;
      align-self: flex-start;
      align-items: flex-end;
      width: 100%;
      font-weight: 500;
      min-height: 8rem;

      &__icon {
        font-size: 3rem;
        color: orange;
        border-bottom: 1px solid lightgrey;
      }

      & > span {
        font-size: 1.2rem;
        border-bottom: 1px solid lightgrey;
        padding: 0 0 0 .5rem;
      }
    }
  }
}

.list-candidates-no-data {
  display: flex;
  justify-content: center;
  width: 100%;

  & > span {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
