.saved-jobs-card {
  display: flex;
  justify-content: center;

  position: relative;

  width: 100%;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 1rem;
  overflow: hidden;

  font-size: 0.9rem;

  cursor: pointer;

  &__left {
    width: 100%;
    // height: 10rem;
    transition: all 0.45s ease 0s;

    display: flex;
    align-items: center;

    padding: 1rem 1.5rem;

    color: black;

    &:hover {
      text-decoration: none;
      color: black;
      background-color: lightcyan;
    }

    &__avatar {
      position: relative;

      & > img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }

      &__check {
        text-align: right;
        position: absolute;
        width: 100%;
        top: 0;

        &__icon {
          color: var(--success);
          font-size: 1.5rem;

          background-color: #fff;
          border-radius: 50%;
        }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 100%;

      line-height: 2rem;

      padding: 0 1.5rem;

      &__job-name {
        font-size: 1.2rem;
        font-weight: 600;
      }

      &__salary {
        display: flex;
        align-items: center;
      }

      &__company {
        display: flex;
        align-items: center;
        width: 100%;

        &__name {
          display: flex;
          align-items: center;

          margin: 0 2rem 0 0;
        }

        &__location {
          display: flex;
          align-items: center;
        }
      }

      &__hashtags {
        display: flex;

        width: 100%;
        margin: 0.5rem 0;

        &__item {
          margin: 0 1rem 0 0;
          padding: 0 0.5rem;
          background-color: lightgreen;

          border-radius: 2rem;
          font-size: .8rem;
          font-weight: 500;
        }
      }

      &__status {
        &__name {
          color: var(--success);
          font-weight: 600;
          padding: 0 0.5rem;
        }

        &__updated-at {
          color: darkgrey;
          font-weight: 300;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 0;
    background-color: crimson;
    top: 0;
    right: 0;
    transition: all 0.45s ease 0s;

    &__overlay {
      position: absolute;
      left: 0;
      top: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;
      padding: 1rem;

      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: all 0.25s ease 0s;

      cursor: default;

      &__action {
        display: flex;
        flex-wrap: row nowrap;
        justify-content: center;
        align-items: center;

        transition: all 0.35s ease 0s;
        transform: translateX(1rem);
        opacity: 0;

        &__icon {
          font-size: 4rem;
          background-color: #fff;
          border-radius: 50%;

          padding: 1rem;
          color: darkred;

          cursor: pointer;

          &:hover {
            transition: all 0.15s ease-out;
            background-color: lightcoral;
          }
        }
      }
    }
  }

  &:hover > &__left {
    width: 80%;
  }

  &:hover > &__right {
    width: 20%;

    .overlay,
    .action {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.saved-jobs-card-info-icon {
  color: var(--success);
  margin: 0 0.2rem 0 0;
  font-size: 1.2rem;
}
