.find-jobs {
  display: flex;
  justify-content: center;
  width: 100%;

  padding: 2rem 4rem;

  font-size: 0.9rem;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__search-bar {
      display: flex;
      justify-content: center;
      width: 100%;

      padding: 0 4rem;
    }

    &__job-tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 3rem 8rem;

      &__item {
        border: 1px solid var(--success);
        padding: 0.2rem 1rem;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        cursor: pointer;

        &:hover {
          transition: all 0.15s ease 0s;
          background-color: lightcyan;
        }
      }
    }

    &__sort-bar {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;

      padding: 0 4rem;
    }

    &__filter-area {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      width: 100%;
      padding: 3rem 4rem;

      &__select {
        width: 12rem;
      }
    }
  }
}

.job-tag-active {
  background-color: var(--success);
  color: #fff;
  // font-weight: 500;

  &:hover {
    background-color: darkgreen;
  }
}
