.verification {
  display: flex;
  background-image: url("../../../../assets/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__main {
    display: flex;
    flex-direction: row;
    margin: 7rem 2rem 2rem 2rem;
    width: 100%;
  }

  &__company {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 28rem;
    margin-left: 15rem;

    
  }

  &__detail {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    // background: blue;

    &__form {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      font-size: 1.5rem;
      width: 85%;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      color: black;

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;

        & > img {
          margin: 0.5rem 0 0 0.2rem;
          width: 1.5%;
        }
      }
    }
  }

  &__button-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 4rem;

    & > button {
      border-radius: 1.5rem;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    &__reject {
      margin-left: 1.5rem;
    }
  }
}

.paginate-totalPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.6rem 0.5rem 0;
}

.paginate-icon {
  font-size: 2rem;
}
