.form-control {
  background-color: #fff;
  border: 1px solid var(--success);
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
  height: 2.4rem;

  &::placeholder {
    color: lightgrey;
  }
}

.focus-input:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.shadow-input {
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-color: #fff;
}

.radius {
  border-radius: 0.5rem;
}
