.upload-avatar-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 0 0 1rem;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    border-bottom: 1px solid lightgrey;

    & > span {
      font-size: 1.2rem;
      font-weight: 600;
    }

    &__dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: var(--success);
      margin: 0.2rem 0 0 0.2rem;
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;

    &__editor {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-between;
      width: 100%;
      padding: 0 1rem 0 0;

      &__slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 0 0 0;

        & > span {
          font-weight: 500;
          font-size: 1rem;
          // color: var(--success);
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 1rem;

    & > button {
      padding: 0.4rem 0.8rem;
      border-radius: 0.5rem;
    }

    & > button:last-child {
      margin-left: 1rem;
    }
  }
}

.upload-avatar-name {
  display: flex;
  align-items: flex-end;
  margin-left: 0.5rem;
  width: 40%;
  border-bottom: 1px solid lightgrey;

  & > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
