.recruiter-dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
  width: 100%;
  padding: 2rem 4rem 4rem;
  margin: 0;
  // background-image: url("../../../../../assets/img/background.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    // background-color: yellowgreen;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      width: 100%;

      &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 30%;
        padding: 0.5rem;

        &__inforCard {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 7.9rem;
          width: 100%;
          padding: 1.5rem;
          border-radius: 1rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

          & > img {
            width: 30%;
            border-radius: 50%;
            border: 2px solid var(--success);
            margin: 0 1rem 0 0;
          }

          &__description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 70%;
            height: 100%;

            &__title {
              display: flex;
              align-items: center;
              width: 100%;
              height: auto;

              &__company-name {
                font-size: 1.2rem;
                font-weight: 600;
                width: 100%;
                word-wrap: break-word;
              }
            }

            &__company-industry {
              color: darkgrey;
              width: 100%;
              word-wrap: break-word;  
            }
          }
        }
      }

      &__right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75%;
        height: auto;
        padding: 0.5rem;

        &__card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0rem 1.5rem;
          min-width: 10rem;
          max-width: 12rem;
          min-height: 8rem;
          border-radius: 1rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

          &__count {
            font-size: 2rem;
            font-weight: 600;
            color: var(--success);
          }

          // &__plus-icon {
          // }

          &__create-span {
            margin-top: 0.5rem;

            & > span {
              font-weight: 500;
              color: var(--success);
            }
          }

          &:last-child {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 8rem;
            height: 8rem;
            // background-color: #fff;
            cursor: pointer;

            box-shadow: none;
            border: 2px dashed var(--success);

            &:hover {
              background-color: rgb(196, 255, 196);
              transition: all 0.2s ease-out;
            }

            &:active {
              background-color: #fff;
              transition: all 0.2s ease-out;
            }
          }
        }
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      width: 100%;
      height: auto;
      margin: 3rem 0 0 0;
      // background-color: greenyellow;

      &__left {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        width: 28.5%;
        height: auto;
        // background-color: burlywood;

        &__item {
          display: flex;
          align-items: center;
          height: 2.5rem;
          margin: 0 0 1.5rem 0;
          border-bottom: 1px solid darkgrey;
          cursor: pointer;
          border-radius: 0.5rem 0.5rem 0 0;
          text-decoration: none;

          & > span {
            // color: var(--success);
            color: darkgrey;
            padding: 0 0 0 0.5rem;
          }

          &:hover {
            background-color: rgb(196, 255, 196);
            transition: all 0.2s ease-out;
            text-decoration: none;
          }

          &:active {
            background-color: #fff;
            transition: all 0.2s ease-out;
          }
        }

        &__img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;

          & > img {
            width: 90%;
          }
        }
      }

      &__right {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: calc(100% - 28.5%);
        height: 10;
        padding: 0.5rem 2.5rem;
      }
    }
  }
}

.plus-icon {
  font-size: 2rem;
  color: var(--success);
}

.visited-card {
  border-bottom: 3px solid var(--success);

  & > span {
    font-weight: 500;
    color: var(--success);
  }
}

.no-available {
  & > span {
    // font-weight: 500;
    font-size: 1.2rem;
  }
}

.inforCard-icon {
  font-size: 1.2rem;
}
