.job-detail-page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  font-size: 0.9rem;

  padding: 2rem 6rem;

  background-image: url("../../../../../assets/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 1rem 2rem;
      border-radius: 1rem;

      &__left {
        display: flex;
        align-items: center;

        &__img {
          position: relative;

          & > img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border: 1px solid lightgrey;

          }

          &__check {
            text-align: right;
            position: absolute;
            width: 100%;
            top: 0;

            &__icon {
              color: var(--success);
              font-size: 1.5rem;
              margin-right: 0.5rem;

              padding: .1rem;
              background-color: #fff;
              border-radius: 50%;
            }
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          margin: 0 0 0 2rem;
          line-height: 2rem;

          & > h4 {
            font-weight: 600;
          }

          & > span {
            // font-weight: 400;
            font-size: 1rem;
          }

          &__company-name {
            font-weight: 600;
          }

          &__status {
            & > span {
              font-weight: 600;
              margin-left: 0.5rem;
            }
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        position: relative;

        height: 100%;
        line-height: 1.7rem;

        & > button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 1rem;
          font-weight: 500;
          min-width: 6rem;
          border-radius: 0.5rem;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

          margin: 0.5rem 0;
        }

        &__more-info {
          text-align: right;
          width: 100%;
          color: darkgrey;
          line-height: 2rem;

          & > span {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }

          &__btn-group {
            display: flex;
            align-items: center;
            font-weight: 300;

            & > button {
              display: flex;
              align-items: center;
              padding: 0.5rem 0.8rem;
              margin: 0 .4rem;
              border-radius: 2rem;
              font-weight: 500;

              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: auto;

      &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 1rem 0 0 0;
      }
    }
  }
}
