.dashboard {
  display: flex;
  justify-content: center;
  background-image: url("../../../../assets/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  &__main {
    margin: 8rem 0 2rem 15rem;
    width: 80%;
  }

  &__header {
    display: flex;
    justify-content: space-evenly;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: auto;
      border-radius: 1rem;
      padding: 1rem 1rem 0.5rem;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

      &__top {
        display: flex;
        justify-content: space-between;

        &__left {
          display: flex;
          flex-direction: column;

          &__title {
            font-weight: 600;
          }

          &__count {
            display: flex;
            justify-content: flex-start;
            font-size: 2rem;
            color: var(--success);
            font-weight: 400;
          }
        }

        & > img {
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
        }
      }

      &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0 0 0;

        & > img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

.span-percent {
  color: var(--success);
  font-size: 0.8rem;
  font-weight: medium;
  margin: 0 0.5rem;
}

.span-text {
  font-size: 0.8rem;
}

.graph-arrow {
  color: var(--success);
}

.red {
  color: darkred;
}

.orange {
  color: darkorange;
}

.yellow {
  color: gold;
}

.violet {
  color: darkviolet;
}

//