.student-profile {
  display: flex;
  justify-content: center;

  width: 100%;
  font-size: 0.9rem;

  &__container {
    display: flex;
    // justify-content: center;
    width: 100%;
    padding: 2rem 4rem 4rem;

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;

      margin: 0 4rem 0 0;

      &__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 10rem;
        align-self: flex-start;

        &__item {
          font-weight: 300;
          font-size: 1.2rem;
          color: darkgrey;
          border-bottom: 1px solid darkgrey;

          padding: 0.2rem 0.2rem;
          margin: 0 0 0.5rem 0;

          & > span {
            font-weight: 300;
          }

          &:hover {
            transition: all 0.15s ease-out;
            color: var(--success);
            border-color: var(--success);
            background-color: lightgrey;
            text-decoration: none;
          }
        }
      }

      &__img {
        display: flex;
        justify-content: center;
        margin: 6rem 0 0 0;

        & > img {
          width: 80%;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 4rem - 20%);
      align-self: flex-start;

      &__base-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 1rem;

        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &__left {
          display: flex;
          align-items: center;
          // width: 80%;

          &__avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;

            & > img {
              width: 7rem;
              height: 7rem;
              border-radius: 50%;
              object-fit: cover;

              border: 1px solid lightgrey;
            }

            &__icon {
              position: absolute;

              & > .change-icon {
                top: 2.8rem;
                left: 2rem;
                font-size: 2.2rem;
                position: relative;
                color: var(--success);
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                  transform: scale(1.1);
                  transition: all 0.15s ease-out;
                }

                &:active {
                  transform: scale(1);
                }
              }
            }
          }

          &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // line-height: 1.8rem;

            &__name {
              font-size: 1.4rem;
              font-weight: 700;
            }

            &__career {
              font-weight: 300;
              margin-top: 0.3rem;
            }

            &__open-job {
              display: flex;
              align-items: center;

              & > span {
                margin: 0 0.5rem 0 0;
                font-weight: 500;
              }
            }
          }
        }

        &__right {
          display: flex;
          align-items: center;
          // width: 20%;
          height: 100%;

          padding-right: 1rem;

          &__view-as {
            display: flex;
            align-items: center;
            border: 1px solid var(--success);
            padding: 0.2rem 0.5rem 0.2rem 1rem;
            border-radius: 1rem;

            font-weight: 300;

            cursor: pointer;

            & > span {
              color: black;
              font-weight: 500;
            }

            &__icon-down {
              color: var(--success);
              margin-left: 0.5rem;
            }

            &:hover {
              transition: all 0.15s ease-out;
              background-color: rgba(0, 255, 0, 0.2);
            }

            &:active {
              background-color: #fff;
            }
          }
        }
      }

      &__more-info {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.student-profile-menu-visited {
  color: var(--success);
  border-bottom: 2px solid var(--success);

  & > span {
    font-weight: 500;
  }
}

.update-student-personal-form-btn-group {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;

  & > button {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    font-weight: 500;
    // padding: .4rem .8rem;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  & > button:last-child {
    margin-left: 2rem;
  }
}
