.recruitment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 18rem;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
  line-height: 1.8rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.15s ease-out;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__left {
      max-width: 40%;
      // margin: 0 0 0 1rem;
      &__img {
        display: flex;
        // justify-content: center;
        align-items: center;
        width: 100%;
        & > img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          object-fit: cover;

          border: 1px solid lightgrey;
        }
      }

      &__company-name {
        // display: flex;
        // justify-content: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;

        // margin: 0.2rem 0 0 0; 

        & > span {
          font-weight: 600;
          color: darkgrey;
        }
      }
    }

    &__right {
      display: flex;
      margin: 0 0 3rem 0rem;
      align-items: center;

      & > span {
        color: darkgrey;
      }

      &__icon {
        display: flex;
        align-items: center;

        margin: 0 0 0 0.2rem;
        font-size: 1.2rem;
        color: var(--success);
      }
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0.5rem 0 0 0;
    // line-height: 1.5rem;
    width: 100%;

    &__title {
      width: 100%;
      font-weight: 600;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: .9rem;
    }

    &__location {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &__icon {
        font-size: 1.1rem;
        margin: 0 0.3rem 0 0;
        color: var(--success);
      }

      & > span {
        // text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        // width: 100%;
        font-weight: 300;
      }
    }

    &__salary {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &__icon {
        font-size: 1.1rem;
        margin: 0 0.3rem 0 0;
        color: var(--success);
      }

      & > span {
        font-weight: 300;
      }
    }

    &__applicants {
      width: 100%;
      text-align: center;

      & > span {
        color: var(--success);
        font-weight: 600;
      }
    }

    &__status {
      width: 100%;
      text-align: center;

      & > span {
        font-weight: 600;
      }
    }

    &__hashtags {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0.3rem 0 0 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;

      & > span {
        background-color: lightgreen;
        padding: 0rem 0.5rem;
        border-radius: 2rem;
        font-weight: 400;
        // color: #fff;
        font-weight: 500;
        font-size: 0.8rem;

        margin: 0 0.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        min-width: 3rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 1rem 0 0 0;

    & > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-weight: 600;
      // padding: 0.5rem 1rem;
      border-radius: 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
