.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  margin: 0 0 2rem;

  &__title {
    display: flex;
    justify-content: center;

    width: 100%;

    & > span {
      padding: 0.5rem 15%;
      background-color: var(--success);
      color: #fff;
      font-weight: 500;
      border-radius: 0 0 2rem 2rem;
      font-size: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem .5rem;

    & > span {
      margin: .5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 1rem;
      padding: 0.2rem 1rem;
      white-space: nowrap;
      color: var(--success);
      // font-weight: 500;
    }
  }
}
