.text-field-date {
  display: flex;
  flex-direction: column;
}

.input-field-label {
  color: var(--success);
}

.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-field-date-width {
  width: 12rem;
}
