.popup-update-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  max-height: 85vh;

  position: relative;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;

    margin-bottom: 1rem;

    background-color: #fff;

    // margin-bottom: .5rem;
    border-bottom: 1px solid lightgrey;

    & > label {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &__dot {
      width: .4rem;
      height: .4rem;
      border-radius: 50%;

      background-color: var(--success);
      margin: .1rem 0 0 .2rem;
    }
  }

  & > form {
    padding: 0 1rem;
    width: 100%;
  }
}

.edit-icon {
  font-size: 1.5rem;
  color: var(--success);
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 0.2rem 0 0;
}

.btn-edit {
  border-radius: 2rem;
  padding: 0.4rem 0.3rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 0.9rem;
}
