* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 1rem; */
  // overflow-x: hidden;
  // -ms-overflow-style: none;
}

.products,
.sign-up {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.loading-ui {
  display: flex;
  align-items: center;
  height: 90vh;
}

// .services {
//   background-image: url("/images/img-2.jpg");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   color: #fff;
//   font-size: 100px;
// }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0 0 0.8rem;
}

.pagination > li:not(:first-child, :last-child) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--success);
  font-weight: 400;

  margin: 0 0.2rem;
  border-radius: 0.3rem;
  width: 1.8rem;
  height: 2rem;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
  // font-weight: 700;
  color: var(--success);
  border-radius: 50% !important;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--success);
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: var(--success) !important;
  border-color: var(--success) !important;
  // font-size: 1.4rem;
  // font-weight: 500 !important;
}

.pagination > .active > a:hover {
  background-color: var(--success) !important;
  border: solid 1px var(--success);
}

.loading-child-ui {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 2rem;
  width: 100%;
}

.inforCard-icon {
  color: var(--success);
  margin: 0 0 0 0.5rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-100 {
  width: 100%;
}

.color-closed {
  color: red;
}

.accepted {
  background-color: lightgreen;
  color: green;
}
.not-accepted {
  background-color: lightcoral;
  color: crimson;
}
.waiting {
  background-color: rgb(255, 241, 161);
  color: gold;
}

.no-available {
  text-align: center;
  width: 100%;
  & > span {
    // font-weight: 500;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.hidden {
  display: none;
}

textarea {
  resize: none;
}

// text-overflow: ellipsis;
// white-space: nowrap;
// overflow: hidden;

.invisible-noti-options {
  display: none;
}

.is-focus-noti-option {
  display: block;
}

.bg-change-avatar {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

.bg-invited-job {
  // background:linear-gradient(120deg, #3b5998, #FFFFFF);
  // background:linear-gradient(120deg, #1db954, #191414);
  background-color: #3b5998;
}

.bg-follow {
  // background-color: #3f0d12;
  // background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  //   background-color: #7f5a83;
  // background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-color: #aff6cf;
  background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
}

.bg-applied {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.bg-rejected-job {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.bg-accepted-job {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: #008000;
}

// change calender icon color
::-webkit-calendar-picker-indicator {
  filter: invert(21%) sepia(44%) saturate(7493%) hue-rotate(124deg)
    brightness(92%) contrast(104%);
}
