* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* font-size: 1rem; */
}

.event,
.event-create,
.event-main,
.products,
.sign-up {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* .services {
  background-image: url("/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("/images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.pagination {
  margin: 4rem 0 0 0;
}

.pagination > li > a {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: var(--success);
  font-weight: 400;

  margin: 0 0.1rem;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--success);
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: var(--success) !important;
  border: solid 1px var(--success) !important;
  font-size: 1.2rem;
  font-weight: 600;
}

.pagination > .active > a:hover {
  background-color: var(--success) !important;
  border: solid 1px var(--success);
}
