* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 1rem; */
}

.event,
.event-create,
.event-main,
.products,
.sign-up {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.loading-ui {
  display: flex;
  align-items: center;
  height: 85vh;
}

// .services {
//   background-image: url("/images/img-2.jpg");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   color: #fff;
//   font-size: 100px;
// }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 0 0.8rem;
}

.pagination > li:not(:first-child, :last-child) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--success);
  font-weight: 400;

  margin: 0 0.2rem;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--success);
  border-radius: 50% !important;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--success);
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: var(--success) !important;
  border: solid 1px var(--success) !important;
  font-size: 1.4rem;
  font-weight: 500 !important;
}

.pagination > .active > a:hover {
  background-color: var(--success) !important;
  border: solid 1px var(--success);
}

.loading-child-ui {
  height: 5rem;
  display: flex;
  align-items: center;
}

.inforCard-icon {
  color: var(--success);
  margin: 0 0 0 0.5rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}
