.candidate-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 2rem 8rem;
  // background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);

  background-image: url("../../../../../assets/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.9rem;

  &__above {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__img {
      & > img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 1px solid lightgrey;
      }
    }

    &__candidate-name {
      font-size: 1.3rem;
      font-weight: 600;
      margin: 0.5rem 0 0.2rem 0;
    }

    &__candidate-job-title {
      margin: 0 0 1rem 0;
      font-size: 1rem;
    }

    &__applied-recruitment {
      display: flex;
      align-items: center;
      width: 100%;

      &__status {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin: 0.2rem 0;
        color: darkgrey;

        &__dot {
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 50%;
          background-color: darkgrey;
        }

        &__title {
          max-width: 30%;
          word-break: break-all;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: black;

          margin-right: 0.5rem;
          // font-weight: 300;
        }

        & > .recruitment-was-closed {
          text-decoration: line-through;
          color: darkgrey;
        }

        // &__is-closed {
        //   font-weight: 300;
        // }

        // &__is-accepted {
        //   font-weight: 300;
        // }

        &__group-button {
          margin-left: 1rem;
          & > button {
            padding: 0.3rem 0.5rem;
            border-radius: 2rem;
          }
        }
      }
    }

    &__btn-group {
      display: flex;
      justify-content: center;

      width: 100%;

      & > button {
        display: flex;
        align-items: center;

        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        font-weight: 500;
      }
    }

    &__overview {
      display: flex;
      flex-direction: column;
      // align-items: center;

      margin: 1.5rem 0 0 0;
      width: 100%;

      &__title {
        display: flex;
        align-items: center;

        margin: 0 0 0.5rem 0;
        border-bottom: 1px solid lightgrey;

        & > span {
          font-size: 1.5rem;
          font-weight: 600;
        }

        &__dot {
          color: var(--success);
          margin: 0.5rem 0 0 0;
        }
      }

      &__description {
        padding: 0 2rem;
        font-weight: 300;
        line-height: 1.5rem;
      }
    }
  }

  &__below {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 2rem 0 0;

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 42%;

      .personal-info-card {
        width: 80%;
        margin-bottom: 3rem;
      }

      .skills-card {
        margin-bottom: 3rem;

        &__content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }

      .languages-card {
        margin-bottom: 3rem;

        &__content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: calc(100% - 4rem - 42%);

      .experiences-card {
        width: 90%;
        margin-bottom: 3rem;

        &__content {
          padding: 1rem 2rem;
        }
      }

      .educations-card {
        margin-bottom: 3rem;

        &__content {
          padding: 1rem 2rem;
        }
      }

      .certificates-card {
        &__content {
          padding: 1rem 2rem;
        }
      }
    }
  }

  &__minions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 4rem 0;
    background-color: transparent;
    width: 100%;
    height: auto;

    & > img {
      width: 50%;
    }
  }
}

.candidates-item-icon {
  color: var(--success);
  margin: 0 0.5rem 0 0;
}

.card-nia {
  width: 100%;
  text-align: center;
}
