.admin-notification {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  
  background-image: url("../../../../assets/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0 2rem 15rem;

  &__container {
    display: flex;
    justify-content: center;
    width: 80%;
    // height: 100%;

    &__left {
      display: flex;
      flex-direction: column;
      
      width: 25%;
      padding: 1rem 0 0 0;

      &__img {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 3rem 0 0 0;

        & > img {
          width: 80%;
          object-fit: cover;
        }
      }

      &__title {
        font-size: 1.1rem;
        font-weight: 400;
        border-bottom: 2px solid lightgray;
        padding: .5rem .5rem 0;
        margin-bottom: 1rem;
        cursor: pointer;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        &:hover {
          transition: all 0.15s ease-out;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      padding: 0 0 0 2rem;

      &__notifications-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29rem;
        min-height: 31rem;

        list-style: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1rem 2rem;
        border-radius: 1rem;
      }

      &__paginator {
        margin-top: .5rem;
      }
    }
  }
}

.is-menu-noti-active {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  border-color: var(--success);
  color: var(--success);
}
