.hashtag-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 255, 190);
  max-width: 5rem;
  padding: 0 0.2rem;
  margin: 0 0.2rem;

  border-radius: 1rem;
  font-weight: 500;
}
