.hashtag-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 0, 0.4);
  // max-width: 5rem;
  padding: 0.2rem .7rem;
  margin: 0 0.2rem;

  border-radius: 1rem;
  font-size: .8rem;
  font-weight: 600;
}
