.text-editor {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 .5rem 0;

    & > label {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center;
    }
  
    &__dot {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: var(--success);
      margin-left: .2rem;
    }
  }

  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;


    margin: 1rem 0;
    width: 100%;

    & > button {
      display: flex;
      align-items: center;
      margin: 0 0 0 1rem;
      border-radius: .5rem;
    }
  }
}

.ck-editor__editable_inline {
  min-height: 20rem;
  max-height: 20rem;
}

.ck-editor__editable {
  padding: 0 2rem !important;
}